@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply flex flex-col min-h-screen bg-base-background;
  }
}

@layer components {
  .defaultBG {
    @apply h-full w-full
  bg-left-top bg-pattern
  bg-repeat bg-16
  bg-blend-soft-light
  bg-opacity-60
  bg-fixed
  overflow-hidden;
  }

  .border-gradient {
    background-image: linear-gradient(
      213.04deg,
      #ffc332 0%,
      rgba(254, 194, 50, 0.3) 100%
    );
  }

  .border-gradient-two {
    padding: 1px;
    background-clip: content-box, border-box;
    background-image: linear-gradient(#1e293b, #1e293b),
      linear-gradient(213.04deg, #ffc332 0%, rgba(254, 194, 50, 0.3) 100%);
  }
}
