@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



@layer base {
  html,
body {
  @apply bg-base-gray
  /* background: '#121214'
  color: '#E1E1E6';
  font-family: Roboto, Cantarell, Fira Sans, Helvetica Neue, sans-serif; */
}}

.defaultBG {
  @apply h-screen w-screen
  bg-left-top bg-pattern
  bg-repeat bg-16
  bg-blend-soft-light
  bg-opacity-60
  /* mix-blend-normal */
  /* blur-[1.5px] */
  /* backdrop-blur-s */
}
