@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  html,
  body {
    @apply bg-base-gray font-sans text-base-black h-screen w-screen;
  }
}

.defaultBG {
  @apply h-full w-full
  bg-left-top bg-pattern
  bg-repeat bg-16
  bg-blend-soft-light
  bg-opacity-60
  bg-fixed
  overflow-hidden;
}
